__pycache__/
*.py[cod]
*.log
*.csv
result*.json
.DS_Store
.idea/
.vscode/
android/.gradle/
android/build/
android/build-tests/
android/app/build/
android/*.apk
android/*.keystore
android/*.jks
android/*.p12
dist/
